@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

input, button, select, textarea {
  outline: none;
  font-family: '微软雅黑';
}

li {
  list-style: none;
}

img {
  border: 0;
}

textarea {
  resize: none;
}

body, div, span, ul, li, p, h1, h2, h3, h4, h5, h6, img, input, textare {
  margin: 0 auto;
  padding: 0;
  border: 0 none;
}

body {
  font-size: 12px;
  font-family: "微软雅黑",Arial, Helvetica, sans-serif;
  color: #323232;
}

body {
  word-wrap: break-word;
  word-break: break-all;
  min-height: 100%;
  _height: 100%;
}

a {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a {
  outline: none;
}

a:active {
  star: expression(this.onFocus=this.blur());
}

a:focus {
  outline: 0;
}

.hidden {
  display: none;
}

.vhidden {
  visibility: hidden;
}

.clear {
  font-size: 1px;
  clear: both;
  line-height: 1px;
}

.fc {
  overflow: hidden;
  zoom: 1;
}

.block {
  display: block;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.icon-glass:before, .icon-music:before, .icon-search:before, .icon-envelope-o:before, .icon-heart:before, .icon-star:before, .icon-star-o:before, .icon-user:before, .icon-film:before, .icon-th-large:before, .icon-th:before, .icon-th-list:before, .icon-check:before, .icon-times:before, .icon-search-plus:before, .icon-search-minus:before, .icon-power-off:before, .icon-signal:before, .icon-cog:before, .icon-trash-o:before, .icon-home:before, .icon-file-o:before, .icon-clock-o:before, .icon-road:before, .icon-download:before, .icon-arrow-circle-o-down:before, .icon-arrow-circle-o-up:before, .icon-inbox:before, .icon-play-circle-o:before, .icon-repeat:before, .icon-refresh:before, .icon-list-alt:before, .icon-lock:before, .icon-flag:before, .icon-headphones:before, .icon-volume-off:before, .icon-volume-down:before, .icon-volume-up:before, .icon-qrcode:before, .icon-barcode:before, .icon-tag:before, .icon-tags:before, .icon-book:before, .icon-bookmark:before, .icon-print:before, .icon-camera:before, .icon-font:before, .icon-bold:before, .icon-italic:before, .icon-text-height:before, .icon-text-width:before, .icon-align-left:before, .icon-align-center:before, .icon-align-right:before, .icon-align-justify:before, .icon-list:before, .icon-outdent:before, .icon-indent:before, .icon-video-camera:before, .icon-picture-o:before, .icon-pencil:before, .icon-map-marker:before, .icon-adjust:before, .icon-tint:before, .icon-pencil-square-o:before, .icon-share-square-o:before, .icon-check-square-o:before, .icon-arrows:before, .icon-step-backward:before, .icon-fast-backward:before, .icon-backward:before, .icon-play:before, .icon-pause:before, .icon-stop:before, .icon-forward:before, .icon-fast-forward:before, .icon-step-forward:before, .icon-eject:before, .icon-chevron-left:before, .icon-chevron-right:before, .icon-plus-circle:before, .icon-minus-circle:before, .icon-times-circle:before, .icon-check-circle:before, .icon-question-circle:before, .icon-info-circle:before, .icon-crosshairs:before, .icon-times-circle-o:before, .icon-check-circle-o:before, .icon-ban:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-arrow-up:before, .icon-arrow-down:before, .icon-share:before, .icon-expand:before, .icon-compress:before, .icon-plus:before, .icon-minus:before, .icon-asterisk:before, .icon-exclamation-circle:before, .icon-gift:before, .icon-leaf:before, .icon-fire:before, .icon-eye:before, .icon-eye-slash:before, .icon-exclamation-triangle:before, .icon-plane:before, .icon-calendar:before, .icon-random:before, .icon-comment:before, .icon-magnet:before, .icon-chevron-up:before, .icon-chevron-down:before, .icon-retweet:before, .icon-shopping-cart:before, .icon-folder:before, .icon-folder-open:before, .icon-arrows-v:before, .icon-arrows-h:before, .icon-bar-chart-o:before, .icon-twitter-square:before, .icon-facebook-square:before, .icon-camera-retro:before, .icon-key:before, .icon-cogs:before, .icon-comments:before, .icon-thumbs-o-up:before, .icon-thumbs-o-down:before, .icon-star-half:before, .icon-heart-o:before, .icon-sign-out:before, .icon-linkedin-square:before, .icon-thumb-tack:before, .icon-external-link:before, .icon-sign-in:before, .icon-trophy:before, .icon-github-square:before, .icon-upload:before, .icon-lemon-o:before, .icon-phone:before, .icon-square-o:before, .icon-bookmark-o:before, .icon-phone-square:before, .icon-twitter:before, .icon-facebook:before, .icon-github:before, .icon-unlock:before, .icon-credit-card:before, .icon-rss:before, .icon-hdd-o:before, .icon-bullhorn:before, .icon-bell:before, .icon-certificate:before, .icon-hand-o-right:before, .icon-hand-o-left:before, .icon-hand-o-up:before, .icon-hand-o-down:before, .icon-arrow-circle-left:before, .icon-arrow-circle-right:before, .icon-arrow-circle-up:before, .icon-arrow-circle-down:before, .icon-globe:before, .icon-wrench:before, .icon-tasks:before, .icon-filter:before, .icon-briefcase:before, .icon-arrows-alt:before, .icon-users:before, .icon-link:before, .icon-cloud:before, .icon-flask:before, .icon-scissors:before, .icon-files-o:before, .icon-paperclip:before, .icon-floppy-o:before, .icon-square:before, .icon-bars:before, .icon-list-ul:before, .icon-list-ol:before, .icon-strikethrough:before, .icon-underline:before, .icon-table:before, .icon-magic:before, .icon-truck:before, .icon-pinterest:before, .icon-pinterest-square:before, .icon-google-plus-square:before, .icon-google-plus:before, .icon-money:before, .icon-caret-down:before, .icon-caret-up:before, .icon-caret-left:before, .icon-caret-right:before, .icon-columns:before, .icon-sort:before, .icon-sort-down:before, .icon-sort-asc:before, .icon-sort-desc:before, .icon-envelope:before, .icon-linkedin:before, .icon-undo:before, .icon-gavel:before, .icon-tachometer:before, .icon-dashboard:before, .icon-comment-o:before, .icon-comments-o:before, .icon-bolt:before, .icon-sitemap:before, .icon-umbrella:before, .icon-clipboard:before, .icon-lightbulb-o:before, .icon-exchange:before, .icon-cloud-download:before, .icon-cloud-upload:before, .icon-user-md:before, .icon-stethoscope:before, .icon-suitcase:before, .icon-bell-o:before, .icon-coffee:before, .icon-cutlery:before, .icon-file-text-o:before, .icon-building-o:before, .icon-hospital-o:before, .icon-ambulance:before, .icon-medkit:before, .icon-fighter-jet:before, .icon-beer:before, .icon-h-square:before, .icon-plus-square:before, .icon-angle-double-left:before, .icon-angle-double-right:before, .icon-angle-double-up:before, .icon-angle-double-down:before, .icon-angle-left:before, .icon-angle-right:before, .icon-angle-up:before, .icon-angle-down:before, .icon-desktop:before, .icon-laptop:before, .icon-tablet:before, .icon-mobile:before, .icon-mobile-phone:before, .icon-circle-o:before, .icon-quote-left:before, .icon-quote-right:before, .icon-spinner:before, .icon-circle:before, .icon-reply:before, .icon-github-alt:before, .icon-folder-o:before, .icon-folder-open-o:before, .icon-smile-o:before, .icon-frown-o:before, .icon-meh-o:before, .icon-gamepad:before, .icon-keyboard-o:before, .icon-flag-o:before, .icon-flag-checkered:before, .icon-terminal:before, .icon-code:before, .icon-reply-all:before, .icon-mail-reply-all:before, .icon-star-half-o:before, .icon-location-arrow:before, .icon-crop:before, .icon-code-fork:before, .icon-chain-broken:before, .icon-question:before, .icon-info:before, .icon-exclamation:before, .icon-superscript:before, .icon-subscript:before, .icon-eraser:before, .icon-puzzle-piece:before, .icon-microphone:before, .icon-microphone-slash:before, .icon-shield:before, .icon-calendar-o:before, .icon-fire-extinguisher:before, .icon-rocket:before, .icon-maxcdn:before, .icon-chevron-circle-left:before, .icon-chevron-circle-right:before, .icon-chevron-circle-up:before, .icon-chevron-circle-down:before, .icon-html5:before, .icon-css3:before, .icon-anchor:before, .icon-unlock-alt:before, .icon-bullseye:before, .icon-ellipsis-h:before, .icon-ellipsis-v:before, .icon-rss-square:before, .icon-play-circle:before, .icon-ticket:before, .icon-minus-square:before, .icon-minus-square-o:before, .icon-level-up:before, .icon-level-down:before, .icon-check-square:before, .icon-pencil-square:before, .icon-external-link-square:before, .icon-share-square:before, .icon-compass:before, .icon-caret-square-o-down:before, .icon-caret-square-o-up:before, .icon-caret-square-o-right:before, .icon-eur:before, .icon-gbp:before, .icon-usd:before, .icon-inr:before, .icon-jpy:before, .icon-rub:before, .icon-ruble:before, .icon-rouble:before, .icon-krw:before, .icon-btc:before, .icon-file:before, .icon-file-text:before, .icon-sort-alpha-asc:before, .icon-sort-alpha-desc:before, .icon-sort-amount-asc:before, .icon-sort-amount-desc:before, .icon-sort-numeric-asc:before, .icon-sort-numeric-desc:before, .icon-thumbs-up:before, .icon-thumbs-down:before, .icon-youtube-square:before, .icon-youtube:before, .icon-xing:before, .icon-xing-square:before, .icon-youtube-play:before, .icon-dropbox:before, .icon-stack-overflow:before, .icon-instagram:before, .icon-flickr:before, .icon-adn:before, .icon-bitbucket:before, .icon-bitbucket-square:before, .icon-tumblr:before, .icon-tumblr-square:before, .icon-long-arrow-down:before, .icon-long-arrow-up:before, .icon-long-arrow-left:before, .icon-long-arrow-right:before, .icon-apple:before, .icon-windows:before, .icon-android:before, .icon-linux:before, .icon-dribbble:before, .icon-skype:before, .icon-foursquare:before, .icon-trello:before, .icon-female:before, .icon-male:before, .icon-gittip:before, .icon-sun-o:before, .icon-moon-o:before, .icon-archive:before, .icon-bug:before, .icon-vk:before, .icon-weibo:before, .icon-renren:before, .icon-pagelines:before, .icon-stack-exchange:before, .icon-arrow-circle-o-right:before, .icon-arrow-circle-o-left:before, .icon-caret-square-o-left:before, .icon-toggle-left:before, .icon-dot-circle-o:before, .icon-wheelchair:before, .icon-vimeo-square:before, .icon-try:before, .icon-plus-square-o:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sassCore's style
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 0 */
  -webkit-overflow-scrolling: touch;
  /* 0 */
}

/**
 * 1. Remove default margin
 * 0. sassCore's style.
 */
body {
  margin: 0;
  /* 1 */
  line-height: 1.5;
  /* 0 */
  color: #333;
  /* 0 */
  background-color: #fff;
  /* 0 */
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Correct `inline-block` display in IE 6/7.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
  *display: inline;
  /* 3 */
  *zoom: 1;
  /* 3 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 * 0. sassCore's style.
 */
a {
  background: transparent;
  /* 1 */
  /* 0 */
  text-decoration: none;
  color: #08c;
}
a:active, a:hover {
  outline: 0;
  /* 2 */
}
a:hover {
  color: #006699;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improve image quality when scaled in IE 7.
 * 0. sassCore's style.
 */
img {
  border: 0;
  /* 1 */
  vertical-align: middle;
  /* 0 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  /* 1 */
  white-space: pre;
  /* 2 */
  white-space: pre-wrap;
  /* 2 */
  word-wrap: break-word;
  /* 2 */
}

/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  _font-family: 'courier new', monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 0. sassCore's style
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 0 */
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}

html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 18.2px;
}

h3 {
  font-size: 16.38px;
}

h4 {
  font-size: 14px;
}

h5, h6 {
  font-size: 11.9px;
  text-transform: uppercase;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

@font-face {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("eot"), url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype");
}
.icon-glass, .icon-music, .icon-search, .icon-envelope-o, .icon-heart, .icon-star, .icon-star-o, .icon-user, .icon-film, .icon-th-large, .icon-th, .icon-th-list, .icon-check, .icon-times, .icon-search-plus, .icon-search-minus, .icon-power-off, .icon-signal, .icon-cog, .icon-trash-o, .icon-home, .icon-file-o, .icon-clock-o, .icon-road, .icon-download, .icon-arrow-circle-o-down, .icon-arrow-circle-o-up, .icon-inbox, .icon-play-circle-o, .icon-repeat, .icon-refresh, .icon-list-alt, .icon-lock, .icon-flag, .icon-headphones, .icon-volume-off, .icon-volume-down, .icon-volume-up, .icon-qrcode, .icon-barcode, .icon-tag, .icon-tags, .icon-book, .icon-bookmark, .icon-print, .icon-camera, .icon-font, .icon-bold, .icon-italic, .icon-text-height, .icon-text-width, .icon-align-left, .icon-align-center, .icon-align-right, .icon-align-justify, .icon-list, .icon-outdent, .icon-indent, .icon-video-camera, .icon-picture-o, .icon-pencil, .icon-map-marker, .icon-adjust, .icon-tint, .icon-pencil-square-o, .icon-share-square-o, .icon-check-square-o, .icon-arrows, .icon-step-backward, .icon-fast-backward, .icon-backward, .icon-play, .icon-pause, .icon-stop, .icon-forward, .icon-fast-forward, .icon-step-forward, .icon-eject, .icon-chevron-left, .icon-chevron-right, .icon-plus-circle, .icon-minus-circle, .icon-times-circle, .icon-check-circle, .icon-question-circle, .icon-info-circle, .icon-crosshairs, .icon-times-circle-o, .icon-check-circle-o, .icon-ban, .icon-arrow-left, .icon-arrow-right, .icon-arrow-up, .icon-arrow-down, .icon-share, .icon-expand, .icon-compress, .icon-plus, .icon-minus, .icon-asterisk, .icon-exclamation-circle, .icon-gift, .icon-leaf, .icon-fire, .icon-eye, .icon-eye-slash, .icon-exclamation-triangle, .icon-plane, .icon-calendar, .icon-random, .icon-comment, .icon-magnet, .icon-chevron-up, .icon-chevron-down, .icon-retweet, .icon-shopping-cart, .icon-folder, .icon-folder-open, .icon-arrows-v, .icon-arrows-h, .icon-bar-chart-o, .icon-twitter-square, .icon-facebook-square, .icon-camera-retro, .icon-key, .icon-cogs, .icon-comments, .icon-thumbs-o-up, .icon-thumbs-o-down, .icon-star-half, .icon-heart-o, .icon-sign-out, .icon-linkedin-square, .icon-thumb-tack, .icon-external-link, .icon-sign-in, .icon-trophy, .icon-github-square, .icon-upload, .icon-lemon-o, .icon-phone, .icon-square-o, .icon-bookmark-o, .icon-phone-square, .icon-twitter, .icon-facebook, .icon-github, .icon-unlock, .icon-credit-card, .icon-rss, .icon-hdd-o, .icon-bullhorn, .icon-bell, .icon-certificate, .icon-hand-o-right, .icon-hand-o-left, .icon-hand-o-up, .icon-hand-o-down, .icon-arrow-circle-left, .icon-arrow-circle-right, .icon-arrow-circle-up, .icon-arrow-circle-down, .icon-globe, .icon-wrench, .icon-tasks, .icon-filter, .icon-briefcase, .icon-arrows-alt, .icon-users, .icon-link, .icon-cloud, .icon-flask, .icon-scissors, .icon-files-o, .icon-paperclip, .icon-floppy-o, .icon-square, .icon-bars, .icon-list-ul, .icon-list-ol, .icon-strikethrough, .icon-underline, .icon-table, .icon-magic, .icon-truck, .icon-pinterest, .icon-pinterest-square, .icon-google-plus-square, .icon-google-plus, .icon-money, .icon-caret-down, .icon-caret-up, .icon-caret-left, .icon-caret-right, .icon-columns, .icon-sort, .icon-sort-down, .icon-sort-asc, .icon-sort-desc, .icon-envelope, .icon-linkedin, .icon-undo, .icon-gavel, .icon-tachometer, .icon-dashboard, .icon-comment-o, .icon-comments-o, .icon-bolt, .icon-sitemap, .icon-umbrella, .icon-clipboard, .icon-lightbulb-o, .icon-exchange, .icon-cloud-download, .icon-cloud-upload, .icon-user-md, .icon-stethoscope, .icon-suitcase, .icon-bell-o, .icon-coffee, .icon-cutlery, .icon-file-text-o, .icon-building-o, .icon-hospital-o, .icon-ambulance, .icon-medkit, .icon-fighter-jet, .icon-beer, .icon-h-square, .icon-plus-square, .icon-angle-double-left, .icon-angle-double-right, .icon-angle-double-up, .icon-angle-double-down, .icon-angle-left, .icon-angle-right, .icon-angle-up, .icon-angle-down, .icon-desktop, .icon-laptop, .icon-tablet, .icon-mobile, .icon-mobile-phone, .icon-circle-o, .icon-quote-left, .icon-quote-right, .icon-spinner, .icon-circle, .icon-reply, .icon-github-alt, .icon-folder-o, .icon-folder-open-o, .icon-smile-o, .icon-frown-o, .icon-meh-o, .icon-gamepad, .icon-keyboard-o, .icon-flag-o, .icon-flag-checkered, .icon-terminal, .icon-code, .icon-reply-all, .icon-mail-reply-all, .icon-star-half-o, .icon-location-arrow, .icon-crop, .icon-code-fork, .icon-chain-broken, .icon-question, .icon-info, .icon-exclamation, .icon-superscript, .icon-subscript, .icon-eraser, .icon-puzzle-piece, .icon-microphone, .icon-microphone-slash, .icon-shield, .icon-calendar-o, .icon-fire-extinguisher, .icon-rocket, .icon-maxcdn, .icon-chevron-circle-left, .icon-chevron-circle-right, .icon-chevron-circle-up, .icon-chevron-circle-down, .icon-html5, .icon-css3, .icon-anchor, .icon-unlock-alt, .icon-bullseye, .icon-ellipsis-h, .icon-ellipsis-v, .icon-rss-square, .icon-play-circle, .icon-ticket, .icon-minus-square, .icon-minus-square-o, .icon-level-up, .icon-level-down, .icon-check-square, .icon-pencil-square, .icon-external-link-square, .icon-share-square, .icon-compass, .icon-caret-square-o-down, .icon-caret-square-o-up, .icon-caret-square-o-right, .icon-eur, .icon-gbp, .icon-usd, .icon-inr, .icon-jpy, .icon-rub, .icon-ruble, .icon-rouble, .icon-krw, .icon-btc, .icon-file, .icon-file-text, .icon-sort-alpha-asc, .icon-sort-alpha-desc, .icon-sort-amount-asc, .icon-sort-amount-desc, .icon-sort-numeric-asc, .icon-sort-numeric-desc, .icon-thumbs-up, .icon-thumbs-down, .icon-youtube-square, .icon-youtube, .icon-xing, .icon-xing-square, .icon-youtube-play, .icon-dropbox, .icon-stack-overflow, .icon-instagram, .icon-flickr, .icon-adn, .icon-bitbucket, .icon-bitbucket-square, .icon-tumblr, .icon-tumblr-square, .icon-long-arrow-down, .icon-long-arrow-up, .icon-long-arrow-left, .icon-long-arrow-right, .icon-apple, .icon-windows, .icon-android, .icon-linux, .icon-dribbble, .icon-skype, .icon-foursquare, .icon-trello, .icon-female, .icon-male, .icon-gittip, .icon-sun-o, .icon-moon-o, .icon-archive, .icon-bug, .icon-vk, .icon-weibo, .icon-renren, .icon-pagelines, .icon-stack-exchange, .icon-arrow-circle-o-right, .icon-arrow-circle-o-left, .icon-caret-square-o-left, .icon-toggle-left, .icon-dot-circle-o, .icon-wheelchair, .icon-vimeo-square, .icon-try, .icon-plus-square-o {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-glass:before {
  content: "";
}

.icon-music:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-envelope-o:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-star-o:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-film:before {
  content: "";
}

.icon-th-large:before {
  content: "";
}

.icon-th:before {
  content: "";
}

.icon-th-list:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-times:before {
  content: "";
}

.icon-search-plus:before {
  content: "";
}

.icon-search-minus:before {
  content: "";
}

.icon-power-off:before {
  content: "";
}

.icon-signal:before {
  content: "";
}

.icon-cog:before {
  content: "";
}

.icon-trash-o:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-file-o:before {
  content: "";
}

.icon-clock-o:before {
  content: "";
}

.icon-road:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-arrow-circle-o-down:before {
  content: "";
}

.icon-arrow-circle-o-up:before {
  content: "";
}

.icon-inbox:before {
  content: "";
}

.icon-play-circle-o:before {
  content: "";
}

.icon-repeat:before {
  content: "";
}

.icon-refresh:before {
  content: "";
}

.icon-list-alt:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-flag:before {
  content: "";
}

.icon-headphones:before {
  content: "";
}

.icon-volume-off:before {
  content: "";
}

.icon-volume-down:before {
  content: "";
}

.icon-volume-up:before {
  content: "";
}

.icon-qrcode:before {
  content: "";
}

.icon-barcode:before {
  content: "";
}

.icon-tag:before {
  content: "";
}

.icon-tags:before {
  content: "";
}

.icon-book:before {
  content: "";
}

.icon-bookmark:before {
  content: "";
}

.icon-print:before {
  content: "";
}

.icon-camera:before {
  content: "";
}

.icon-font:before {
  content: "";
}

.icon-bold:before {
  content: "";
}

.icon-italic:before {
  content: "";
}

.icon-text-height:before {
  content: "";
}

.icon-text-width:before {
  content: "";
}

.icon-align-left:before {
  content: "";
}

.icon-align-center:before {
  content: "";
}

.icon-align-right:before {
  content: "";
}

.icon-align-justify:before {
  content: "";
}

.icon-list:before {
  content: "";
}

.icon-outdent:before {
  content: "";
}

.icon-indent:before {
  content: "";
}

.icon-video-camera:before {
  content: "";
}

.icon-picture-o:before {
  content: "";
}

.icon-pencil:before {
  content: "";
}

.icon-map-marker:before {
  content: "";
}

.icon-adjust:before {
  content: "";
}

.icon-tint:before {
  content: "";
}

.icon-pencil-square-o:before {
  content: "";
}

.icon-share-square-o:before {
  content: "";
}

.icon-check-square-o:before {
  content: "";
}

.icon-arrows:before {
  content: "";
}

.icon-step-backward:before {
  content: "";
}

.icon-fast-backward:before {
  content: "";
}

.icon-backward:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-pause:before {
  content: "";
}

.icon-stop:before {
  content: "";
}

.icon-forward:before {
  content: "";
}

.icon-fast-forward:before {
  content: "";
}

.icon-step-forward:before {
  content: "";
}

.icon-eject:before {
  content: "";
}

.icon-chevron-left:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-plus-circle:before {
  content: "";
}

.icon-minus-circle:before {
  content: "";
}

.icon-times-circle:before {
  content: "";
}

.icon-check-circle:before {
  content: "";
}

.icon-question-circle:before {
  content: "";
}

.icon-info-circle:before {
  content: "";
}

.icon-crosshairs:before {
  content: "";
}

.icon-times-circle-o:before {
  content: "";
}

.icon-check-circle-o:before {
  content: "";
}

.icon-ban:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-arrow-up:before {
  content: "";
}

.icon-arrow-down:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-expand:before {
  content: "";
}

.icon-compress:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-asterisk:before {
  content: "";
}

.icon-exclamation-circle:before {
  content: "";
}

.icon-gift:before {
  content: "";
}

.icon-leaf:before {
  content: "";
}

.icon-fire:before {
  content: "";
}

.icon-eye:before {
  content: "";
}

.icon-eye-slash:before {
  content: "";
}

.icon-exclamation-triangle:before {
  content: "";
}

.icon-plane:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-random:before {
  content: "";
}

.icon-comment:before {
  content: "";
}

.icon-magnet:before {
  content: "";
}

.icon-chevron-up:before {
  content: "";
}

.icon-chevron-down:before {
  content: "";
}

.icon-retweet:before {
  content: "";
}

.icon-shopping-cart:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.icon-folder-open:before {
  content: "";
}

.icon-arrows-v:before {
  content: "";
}

.icon-arrows-h:before {
  content: "";
}

.icon-bar-chart-o:before {
  content: "";
}

.icon-twitter-square:before {
  content: "";
}

.icon-facebook-square:before {
  content: "";
}

.icon-camera-retro:before {
  content: "";
}

.icon-key:before {
  content: "";
}

.icon-cogs:before {
  content: "";
}

.icon-comments:before {
  content: "";
}

.icon-thumbs-o-up:before {
  content: "";
}

.icon-thumbs-o-down:before {
  content: "";
}

.icon-star-half:before {
  content: "";
}

.icon-heart-o:before {
  content: "";
}

.icon-sign-out:before {
  content: "";
}

.icon-linkedin-square:before {
  content: "";
}

.icon-thumb-tack:before {
  content: "";
}

.icon-external-link:before {
  content: "";
}

.icon-sign-in:before {
  content: "";
}

.icon-trophy:before {
  content: "";
}

.icon-github-square:before {
  content: "";
}

.icon-upload:before {
  content: "";
}

.icon-lemon-o:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-square-o:before {
  content: "";
}

.icon-bookmark-o:before {
  content: "";
}

.icon-phone-square:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-github:before {
  content: "";
}

.icon-unlock:before {
  content: "";
}

.icon-credit-card:before {
  content: "";
}

.icon-rss:before {
  content: "";
}

.icon-hdd-o:before {
  content: "";
}

.icon-bullhorn:before {
  content: "";
}

.icon-bell:before {
  content: "";
}

.icon-certificate:before {
  content: "";
}

.icon-hand-o-right:before {
  content: "";
}

.icon-hand-o-left:before {
  content: "";
}

.icon-hand-o-up:before {
  content: "";
}

.icon-hand-o-down:before {
  content: "";
}

.icon-arrow-circle-left:before {
  content: "";
}

.icon-arrow-circle-right:before {
  content: "";
}

.icon-arrow-circle-up:before {
  content: "";
}

.icon-arrow-circle-down:before {
  content: "";
}

.icon-globe:before {
  content: "";
}

.icon-wrench:before {
  content: "";
}

.icon-tasks:before {
  content: "";
}

.icon-filter:before {
  content: "";
}

.icon-briefcase:before {
  content: "";
}

.icon-arrows-alt:before {
  content: "";
}

.icon-users:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.icon-cloud:before {
  content: "";
}

.icon-flask:before {
  content: "";
}

.icon-scissors:before {
  content: "";
}

.icon-files-o:before {
  content: "";
}

.icon-paperclip:before {
  content: "";
}

.icon-floppy-o:before {
  content: "";
}

.icon-square:before {
  content: "";
}

.icon-bars:before {
  content: "";
}

.icon-list-ul:before {
  content: "";
}

.icon-list-ol:before {
  content: "";
}

.icon-strikethrough:before {
  content: "";
}

.icon-underline:before {
  content: "";
}

.icon-table:before {
  content: "";
}

.icon-magic:before {
  content: "";
}

.icon-truck:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-pinterest-square:before {
  content: "";
}

.icon-google-plus-square:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-money:before {
  content: "";
}

.icon-caret-down:before {
  content: "";
}

.icon-caret-up:before {
  content: "";
}

.icon-caret-left:before {
  content: "";
}

.icon-caret-right:before {
  content: "";
}

.icon-columns:before {
  content: "";
}

.icon-sort:before {
  content: "";
}

.icon-sort-down:before {
  content: "";
}

.icon-sort-asc:before {
  content: "";
}

.icon-sort-desc:before {
  content: "";
}

.icon-envelope:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-undo:before {
  content: "";
}

.icon-gavel:before {
  content: "";
}

.icon-tachometer:before {
  content: "";
}

.icon-dashboard:before {
  content: "";
}

.icon-comment-o:before {
  content: "";
}

.icon-comments-o:before {
  content: "";
}

.icon-bolt:before {
  content: "";
}

.icon-sitemap:before {
  content: "";
}

.icon-umbrella:before {
  content: "";
}

.icon-clipboard:before {
  content: "";
}

.icon-lightbulb-o:before {
  content: "";
}

.icon-exchange:before {
  content: "";
}

.icon-cloud-download:before {
  content: "";
}

.icon-cloud-upload:before {
  content: "";
}

.icon-user-md:before {
  content: "";
}

.icon-stethoscope:before {
  content: "";
}

.icon-suitcase:before {
  content: "";
}

.icon-bell-o:before {
  content: "";
}

.icon-coffee:before {
  content: "";
}

.icon-cutlery:before {
  content: "";
}

.icon-file-text-o:before {
  content: "";
}

.icon-building-o:before {
  content: "";
}

.icon-hospital-o:before {
  content: "";
}

.icon-ambulance:before {
  content: "";
}

.icon-medkit:before {
  content: "";
}

.icon-fighter-jet:before {
  content: "";
}

.icon-beer:before {
  content: "";
}

.icon-h-square:before {
  content: "";
}

.icon-plus-square:before {
  content: "";
}

.icon-angle-double-left:before {
  content: "";
}

.icon-angle-double-right:before {
  content: "";
}

.icon-angle-double-up:before {
  content: "";
}

.icon-angle-double-down:before {
  content: "";
}

.icon-angle-left:before {
  content: "";
}

.icon-angle-right:before {
  content: "";
}

.icon-angle-up:before {
  content: "";
}

.icon-angle-down:before {
  content: "";
}

.icon-desktop:before {
  content: "";
}

.icon-laptop:before {
  content: "";
}

.icon-tablet:before {
  content: "";
}

.icon-mobile:before {
  content: "";
}

.icon-mobile-phone:before {
  content: "";
}

.icon-circle-o:before {
  content: "";
}

.icon-quote-left:before {
  content: "";
}

.icon-quote-right:before {
  content: "";
}

.icon-spinner:before {
  content: "";
}

.icon-circle:before {
  content: "";
}

.icon-reply:before {
  content: "";
}

.icon-github-alt:before {
  content: "";
}

.icon-folder-o:before {
  content: "";
}

.icon-folder-open-o:before {
  content: "";
}

.icon-smile-o:before {
  content: "";
}

.icon-frown-o:before {
  content: "";
}

.icon-meh-o:before {
  content: "";
}

.icon-gamepad:before {
  content: "";
}

.icon-keyboard-o:before {
  content: "";
}

.icon-flag-o:before {
  content: "";
}

.icon-flag-checkered:before {
  content: "";
}

.icon-terminal:before {
  content: "";
}

.icon-code:before {
  content: "";
}

.icon-reply-all:before {
  content: "";
}

.icon-mail-reply-all:before {
  content: "";
}

.icon-star-half-o:before {
  content: "";
}

.icon-location-arrow:before {
  content: "";
}

.icon-crop:before {
  content: "";
}

.icon-code-fork:before {
  content: "";
}

.icon-chain-broken:before {
  content: "";
}

.icon-question:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.icon-exclamation:before {
  content: "";
}

.icon-superscript:before {
  content: "";
}

.icon-subscript:before {
  content: "";
}

.icon-eraser:before {
  content: "";
}

.icon-puzzle-piece:before {
  content: "";
}

.icon-microphone:before {
  content: "";
}

.icon-microphone-slash:before {
  content: "";
}

.icon-shield:before {
  content: "";
}

.icon-calendar-o:before {
  content: "";
}

.icon-fire-extinguisher:before {
  content: "";
}

.icon-rocket:before {
  content: "";
}

.icon-maxcdn:before {
  content: "";
}

.icon-chevron-circle-left:before {
  content: "";
}

.icon-chevron-circle-right:before {
  content: "";
}

.icon-chevron-circle-up:before {
  content: "";
}

.icon-chevron-circle-down:before {
  content: "";
}

.icon-html5:before {
  content: "";
}

.icon-css3:before {
  content: "";
}

.icon-anchor:before {
  content: "";
}

.icon-unlock-alt:before {
  content: "";
}

.icon-bullseye:before {
  content: "";
}

.icon-ellipsis-h:before {
  content: "";
}

.icon-ellipsis-v:before {
  content: "";
}

.icon-rss-square:before {
  content: "";
}

.icon-play-circle:before {
  content: "";
}

.icon-ticket:before {
  content: "";
}

.icon-minus-square:before {
  content: "";
}

.icon-minus-square-o:before {
  content: "";
}

.icon-level-up:before {
  content: "";
}

.icon-level-down:before {
  content: "";
}

.icon-check-square:before {
  content: "";
}

.icon-pencil-square:before {
  content: "";
}

.icon-external-link-square:before {
  content: "";
}

.icon-share-square:before {
  content: "";
}

.icon-compass:before {
  content: "";
}

.icon-caret-square-o-down:before {
  content: "";
}

.icon-caret-square-o-up:before {
  content: "";
}

.icon-caret-square-o-right:before {
  content: "";
}

.icon-eur:before {
  content: "";
}

.icon-gbp:before {
  content: "";
}

.icon-usd:before {
  content: "";
}

.icon-inr:before {
  content: "";
}

.icon-jpy:before {
  content: "";
}

.icon-rub:before {
  content: "";
}

.icon-ruble:before {
  content: "";
}

.icon-rouble:before {
  content: "";
}

.icon-krw:before {
  content: "";
}

.icon-btc:before {
  content: "";
}

.icon-file:before {
  content: "";
}

.icon-file-text:before {
  content: "";
}

.icon-sort-alpha-asc:before {
  content: "";
}

.icon-sort-alpha-desc:before {
  content: "";
}

.icon-sort-amount-asc:before {
  content: "";
}

.icon-sort-amount-desc:before {
  content: "";
}

.icon-sort-numeric-asc:before {
  content: "";
}

.icon-sort-numeric-desc:before {
  content: "";
}

.icon-thumbs-up:before {
  content: "";
}

.icon-thumbs-down:before {
  content: "";
}

.icon-youtube-square:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.icon-xing:before {
  content: "";
}

.icon-xing-square:before {
  content: "";
}

.icon-youtube-play:before {
  content: "";
}

.icon-dropbox:before {
  content: "";
}

.icon-stack-overflow:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-flickr:before {
  content: "";
}

.icon-adn:before {
  content: "";
}

.icon-bitbucket:before {
  content: "";
}

.icon-bitbucket-square:before {
  content: "";
}

.icon-tumblr:before {
  content: "";
}

.icon-tumblr-square:before {
  content: "";
}

.icon-long-arrow-down:before {
  content: "";
}

.icon-long-arrow-up:before {
  content: "";
}

.icon-long-arrow-left:before {
  content: "";
}

.icon-long-arrow-right:before {
  content: "";
}

.icon-apple:before {
  content: "";
}

.icon-windows:before {
  content: "";
}

.icon-android:before {
  content: "";
}

.icon-linux:before {
  content: "";
}

.icon-dribbble:before {
  content: "";
}

.icon-skype:before {
  content: "";
}

.icon-foursquare:before {
  content: "";
}

.icon-trello:before {
  content: "";
}

.icon-female:before {
  content: "";
}

.icon-male:before {
  content: "";
}

.icon-gittip:before {
  content: "";
}

.icon-sun-o:before {
  content: "";
}

.icon-moon-o:before {
  content: "";
}

.icon-archive:before {
  content: "";
}

.icon-bug:before {
  content: "";
}

.icon-vk:before {
  content: "";
}

.icon-weibo:before {
  content: "";
}

.icon-renren:before {
  content: "";
}

.icon-pagelines:before {
  content: "";
}

.icon-stack-exchange:before {
  content: "";
}

.icon-arrow-circle-o-right:before {
  content: "";
}

.icon-arrow-circle-o-left:before {
  content: "";
}

.icon-caret-square-o-left:before {
  content: "";
}

.icon-toggle-left:before {
  content: "";
}

.icon-dot-circle-o:before {
  content: "";
}

.icon-wheelchair:before {
  content: "";
}

.icon-vimeo-square:before {
  content: "";
}

.icon-try:before {
  content: "";
}

.icon-plus-square-o:before {
  content: "";
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * 去除双击选中文字 %user
 */
.l {
  float: left;
}

.r {
  float: right;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.hidden {
  display: none;
}

.btn.hidden {
  display: none;
}
