@charset "UTF-8";

*{ 
	margin:0; padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0)
}
input,button,select,textarea{
	outline:none; font-family:'微软雅黑';
}
li{
	list-style:none
}
img{
	border:0
}
textarea{
	resize:none
}
body,div,span,ul,li,p,h1,h2,h3,h4,h5,h6,img,input, textare{
 margin:0 auto; padding:0; border:0 none;
}
body{
	font-size:12px;font-family:"微软雅黑",Arial, Helvetica, sans-serif; color:#323232;
}
body{
	word-wrap : break-word ;word-break:break-all; min-height: 100%; _height:100%;
}
a{
	color:#666;text-decoration:none; cursor:pointer;
}
a:hover{
	text-decoration:none;
}
a{
	outline:none;
}//去除超链接虚线框
a:active{
	star:expression(this.onFocus=this.blur());
}//去除ie下超链接虚线框
a:focus{
	outline:0;
}//去除火狐下超链接的虚线框
.hidden{
	display:none;
}//隐藏不占位
.vhidden{
	visibility:hidden;
}//隐藏占位
.clear{
	font-size:1px; clear:both; line-height:1px;
}
.fc{
	overflow:hidden; zoom:1
}
.block{
	display:block;
}
@import "module/setting";
@import "module/mixin";
@import "module/tabs";
@import "include";